body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
.alert {
    font-size: 24px; 
    font-weight:500;
}
.success {
    color: green;
}
.warning {
    color: yellow;
}
.error {
    color: red;
}
.terminated {
    color: blue;
}
.lorem h1 {
    font-size: 28px;
}